<% const cdnShowdownURL = "https://cdn.bootcdn.net/ajax/libs/showdown/1.9.1" %>
<script src="<%- cdnShowdownURL %>/showdown.min.js"></script>
<script>
    // https://katex.org/docs/options.html
    // console.log(showdown.getDefaultOptions(););
    // console.log(showdown.getAllExtensions());

    /**
     * 显示目录
     */
    showdown.extension('topic', function () {
        // console.log("topic");
        return [
            {
                type: 'lang',
                regex: /(?<=\r\n|\n|\r)\[TOC\](?=\r\n|\n|\r)/i,
                replace: function (text, matchArray) {
                    return "<div id='topic'>这是目录</div>";
                }
            }
        ]
    });

    function LatexFilter(text) {
        // text = text.replace(/\\\|/g, '\\vert');
        // console.log(text);
        return text;
    }

    /**
     * 提取公式
     */
     showdown.extension('latex', function () {
        // console.log("latex");
        const __D__ = '¨D';
        const __H__ = '(?<=\\r\\n|\\n|\\r)';
        const __T__ = '(?=\\r\\n|\\n|\\r)';
        return [
            {
                type: 'lang',
                regex: new RegExp(`${__H__}${__D__}${__D__}[\\s\\S]+?${__D__}${__D__}${__T__}`, 'g'),
                replace: function (text, matchArray) {
                    text = LatexFilter(text.substr(__D__.length * 2, text.length - 4 * __D__.length).trim());
                    return katex.renderToString(text, { throwOnError: false, displayMode: true, leqno: false });
                }
            },
            // {
            //     type: 'lang',
            //     regex: new RegExp(`${__D__}[\\s\\S]+?${__D__}`, 'g'),
            //     replace: function (text, matchArray) {
            //         text = LatexFilter(text.substr(__D__.length, text.length - 2 * __D__.length).trim());
            //         return katex.renderToString(text, { throwOnError: false });
            //     }
            // },
        ]
    });

    window.onload = function() {
        // Topic
        const topic = document.querySelector('#topic');
        if(topic) {
            for (let headLine of document.querySelectorAll('h1,h2,h3,h4')) {
                console.log(headLine.innerText, headLine.nodeName)
            }
        }
    }
</script>