<!DOCTYPE html>
<html>
    <head>
        <style>body{color:grey;background-color:#333333;width:80%;margin-left:10%;margin-right:10%;}</style>
    </head>
    <body>
        <div class="toolbar"><button onclick="setClipboardText(document.querySelector('.main>pre>code').innerText)">复制代码</button></div>
        <script>
            function setClipboardText(value) {
                const text = document.createElement("textarea");
                text.value = value;
                document.body.appendChild(text);
                text.select();
                document.execCommand("Copy");
                text.remove();
            }
        </script>
        <div class="main">
            <pre class="line-numbers"><code class="match-braces rainbow-braces language-<%- languageName %> "><%= text %></code></pre>
        </div>
        <%- include(`./prismSources.ejs`, {sourceNames}); %>
    </body>
</html>