<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="https://www.layuicdn.com/layui/css/layui.css" />
    <style>
        body{width:90%;margin-left:5%;margin-right:5%;}
    </style>
</head>
<body>
<table lay-filter="csvTable"><thead id="csvHead"></thead><tbody id="csvBody"></tbody></table>
<script>
{
    const csvData = JSON.parse(decodeURI(window.atob("<%- text %>", 'base64')));
    const eleHead = document.getElementById("csvHead");
    const eleBody = document.getElementById("csvBody");
    {
        const tr = document.createElement("tr");
        for(let column of csvData[0]) {
            const td = document.createElement("td");
            td.innerHTML = column;
            td.setAttribute("lay-data", JSON.stringify({field: column, sort: true}));
            tr.appendChild(td);
        }
        eleHead.appendChild(tr);
    }
    for (let i=1; i<csvData.length;i++) {
        const line = csvData[i];
        const tr = document.createElement("tr");
        for(let row of line) {
            const td = document.createElement("td");
            td.innerHTML = row;
            tr.appendChild(td);
        }
        eleBody.appendChild(tr);
    }
}
</script>
<script src="https://www.layuicdn.com/layui/layui.js"></script>
<script>
    layui.use('table', function () {
        var table = layui.table;
        //执行渲染
        table.init('csvTable', {
            limit: 20,
            limits: [10, 20, 30, 40, 50, 100, 200, 500, 1000, 2000, 5000, 10000],
            page: true,
            toolbar: 'default',
        });
    });
</script>
</body>
</html>