<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <style>
        /* *{padding:0;margin:0;} */
        body{color:lightgrey;background-color:#333333;width:80%;margin-left:10%;margin-right:10%;}
        a{text-decoration:none}a:link{color:pink}a:visited{color:hotpink}
        blockquote{background-color:#524c4c;border-left:4px solid #a89a9a;}
        table{border: 1px solid lightgrey;}
    </style>
</head>
<body>
<pre><%= text %></pre>
<div></div>
<%- include(`./lib/showdown.ejs`); %>
<%- include(`./lib/prism.ejs`, {sourceNames}); %>
<%- include(`./lib/katex.ejs`); %>
<script>
    const preElement = document.querySelector('pre');
    const showElement = document.querySelector('div');
    const converter = new showdown.Converter({
        tables: true,
        extensions: ['topic', 'latex']
    });
    showElement.innerHTML = converter.makeHtml(preElement.innerText);
    preElement.remove();
</script>
</body>
</html>